/* DOCUMENT SPACING */
html{
    background-color: #2e2e2e;
}
body{
    background-color: white;
    font-family: 'folio-light', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    color:#272727;
}
#site{
    margin: 0 auto;
    padding:4.5rem 1rem 1rem 1rem;
}

div.nav-location{
    position: relative;
    top:-4.5em;
}

/* FONTS */
@font-face {
    font-family: 'folio';
    src: url(../media/folio-std/Folio-Std-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'folio-bold';
    src: url(../media/folio-std/Folio-Std-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'folio-light';
    src: url(../media/folio-std/Folio-Std-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

/* DIV STYLES */
div.green{
    background-color: #14b82d;
    z-index: 3;
}
div.white{
    background-color: #f0f1f0;
    z-index: 2;
}
div.yellow{
    background-color: #ffce26;
    z-index: 3;
}
div.red{
    background-color: #D20537;
    z-index: 3;
    opacity: 0.8;
}
div.blue{
    background-color: #26b5ef;
    z-index: 3;
}
.dark-blue{
    background-color: #0090d0;
    z-index: 3;
}
div.dark-blue, div.red, div.blue{
    color: white;
}

/* GENERIC STYLES */
.content{
    z-index:2;
}
h1{
    font-weight: bold;
    font-size:3em;
    padding:1rem;
    text-align: center;
}
h2{
    font-weight: bold;
    font-size:2.5em;
    padding:1rem;
    text-align: center;
}
h3{
    font-weight: bold;
    font-size:2em;
    padding:1rem;
    text-align: center;
}
h4{
    font-size:3em;
    text-align: center;
}
h5{
    font-size:1.5em;
    margin:0.5em 0.667em 0 0.667em;
    font-weight: bold;
}
em{
    font-family: 'folio', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.grid-container p{
    padding:0 0.3em 0 1em;
}
.grid-container{
    display:grid;
    width:100%;
}

/* NAVIGATION */
#nav-menu input{
    display: none;
}
#title-bar{
    width:100vw;
    background-color: #0090d0;
    display:grid;
    grid-template-columns: 5em 1fr;
}
#title-bar > h2{
    width:100%;
    grid-row: 1/2;
    grid-column: 1/-1;
    display:flex;
    align-items: center;
    justify-content: center;
}
#title-bar label{
    cursor: pointer;
    padding: 1em;
    height: 1.5em;
    text-wrap: nowrap;
    font-family: inherit;
    font-size: inherit;
    color:inherit;
    
    grid-row: 1/2;
    grid-column: 1/2;

    visibility:hidden;
    display:flex;
    align-items: center;
    pointer-events: auto;
}
#title-bar h2{
    font-weight: normal;
    font-size:1.5em;
    padding:1rem;
    text-align: center;
}
#nav-menu input:checked +#title-bar label{
    width:calc(100% - 2em);
}
#nav-menu label img{
    content: url("../media/menu-icon.svg");
    width:2em;
    padding:0.5em;
    visibility: visible;
}
#nav-menu input:checked +#title-bar label img{
    content: url("../media/back-arrow.svg");
}
#nav-menu input:checked ~ #nav-list{
    height: 100%;
    display:flex;
    pointer-events: auto;
}
#nav-menu input:hover +#title-bar label{
    background-color: #09709c;
}
#nav-menu input:hover +#title-bar label img{
    background-color: #09709c;
}
#nav-list{
    height:0;
    overflow: hidden;
    flex-direction: column;
    justify-content: left;
    pointer-events: none;
    width:12em;
}
#nav-menu{
    display:flex;
    flex-direction: column;
    justify-content: left;
    position:fixed;
    z-index: 10;
    width:100%;
    height: 100%;
    padding: 0;
    font-size: 1.5rem;
    color:white;
    pointer-events: none;
}
#nav-menu li{
    padding: 0;
    flex: 0 0 3em;
    margin:0;
}
#nav-menu a{
    display: flex;
    justify-content: left;
    padding: 0 0 0 1em;
    align-items: center;
    text-decoration: none;
    width:calc(100% - 1em);
    height:100%;
}
#nav-menu li.double-width{
    flex: 0 0 3em;
}

a.bright:link{
    color:#ffffff;
}
a.bright:visited{
    color:#ffffff
}
a.bright:focus{
    color:#ffce26;
}
a.bright:hover{
    color:#d1d1d1;
}
#nav-menu a:hover{
    background-color: #09709c;
}
a.bright:active{
    color:#D20537;
}

/* INTRO SECTION */
div#intro{
    grid-template-rows: 100px 400px 25px 25px 25px 25px 60px min-content;
    grid-template-columns: 30px 60px 25px 2fr 1fr 30px;
    height:min-content;
}
#intro-banner{
    grid-row: 1/4;
    grid-column: 1/-1;
}
#intro-banner img{
    width:100%;
    height:100%;
}
#intro-heading{
    grid-row: 1/3;
    grid-column: 2/5;
    align-content: center;
}
#intro-heading h2{
    color: white;
    font-family: 'folio-light';
    font-size: 5em;
    line-height: 1;
    padding:0.5em 0.5em 0.5em 0.5em;
    text-align: left;
}
#description-background{
    grid-row:-5/-1;
    grid-column: 2/-2;
}
#intro-description{
    grid-row:-4/-1;
    grid-column: 4/-2;
}
#intro-description p{
    padding-bottom: 1em;
    padding-right: 1em;
}
#red-block{
    grid-row: -3/-2;
    grid-column: 2/3;
}
#yellow-block{
    grid-row: -4/-3;
    grid-column: 3/4;
}

/* MAIN SECTION */
#projects .flex-container{
    display:flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
}
#projects .project{
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 80px; */
    grid-auto-rows: min-content;
    width:100%;
    margin:0 0 5em 0;
    flex-shrink: 0;
}
#projects .project div{
    margin:5px;
}
#projects p{
    margin:auto;
    padding:0 1em;
}
.project{
    width:45%;
}
.project-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.project ul{
    list-style-type:disc;
    padding: 1em 1em 1em 40px;
}
div.button a{
    text-decoration: none;
    text-align: center;
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    /* font-size: 2rem; */
}
div.button a:hover{
    background-color: rgba(0, 0, 0, 0.155);
    color:white;
}
div.button a:active{
    color:#272727;
}
div.icon{
    justify-content: left;
    display:flex;
}
#projects div.icon>p{
    margin:auto 1em auto 0;
    padding:0;
    height:min-content;
}
#projects div.icon>img, #projects div.icon>a{
    height:3em;
    /* width:auto; */
    padding:1em 0;
    margin:auto 1em;
}
div.icon>a>img{
    height:100%;
}
#projects div.icon p{
    padding:0.3em;
    width:70%;
}
div.screenshot, div.video{
    display: flex;
    justify-content: center;
}
div.screenshot img, div.video iframe{
    max-height:90%;
    max-width:90%;
    margin:auto;
    flex: 0 1 auto;
}
div.text-block, #intro-description p, div.icon{
    /* font-size: 16px; */
}
div.white li{
    /* font-size: 8px; */
}


div.span-one{
    grid-column: span 2;
}
div.span-two{
    grid-column: span 4;
}
div.span-threehalves{
    grid-column: span 3;
}
div.span-half{
    grid-column: span 1;
}
div.height-one{
    grid-row: span 2;
}
div.height-two{
    grid-row: span 4;
}
div.height-threehalves{
    grid-row: span 3;
}
div.height-half{
    grid-row: span 1;
}


/* FOOTER */

#contact{
    display:flex;
    background-color: #2e2e2e;
    justify-content: center;
}
#contact-footer h2{
    text-align: center;
    background-color: #2e2e2e;
    font-weight: normal;
    color:white;
}
#contact div{
    display:flex;
    margin:1em;
    width:4em;
    text-wrap:nowrap;
}
#contact img{
    width:100%
}
#contact a{
    text-wrap: wrap;
}
a:link{
    color:#26b5ef;
}
a:visited{
    color:#0090d0
}
a:focus{
    color:#D20537;
}
a:hover{
    color:#D20537;
}
a:active{
    color:#ffce26;
}
div.copyright{
    color:#d6d6d6;
    /* font-size: 0.5em; */
    justify-self: left;
    width: 66%;
}


@media screen and (min-width: 640px){
    /* #intro-heading h2{
        font-size: 2em;
    }
    h1{
        text-align: left;
    }
    h2{
        text-align: left;
    }
    div#intro{
        grid-template-rows: 100px 1fr 25px 25px 25px 25px 60px min-content;
        grid-template-columns: 30px 60px 25px 2fr 3fr 30px;
    }
    #site{
        margin: 0 auto;
        padding:4.5rem;
    }
    #nav-menu{
        width:12em;
    } */
}
@media screen and (min-width: 800px){
    /* #intro-heading h2{
        font-size: 3em;
    }
    #title-bar label{
        visibility: visible;
    }
    #title-bar{
        grid-template-columns: 12em 1fr;
    } */
}
@media screen and (min-width: 1240px){
    /* #intro-heading h2{
        font-size: 4em;
    }
    #site{
        margin: 0 auto;
        padding:4.5rem 4rem;
    } */
    /* Navigation */ 
    /* #title-bar{
        display:none;
    }
    #nav-list{
        flex-direction: row;
        height:100%;
        width:100%;
        display:flex;
        pointer-events: auto;
    }
    #nav-menu{
        flex-direction: row;
        position:fixed;
        width:100vw;
        height: 3.5em;
    }
    #nav-menu li{
        flex: 0 0 5em;
    }
    #nav-menu a{
        justify-content: center;
        align-items: center;
        padding:0;
        width:100%;
    }
    #nav-menu li.double-width{
        flex: 0 0 10em;
    } */

    /* Intro */
    /* div#intro{
        grid-template-rows: 100px 1fr 25px 25px 60px min-content;
        grid-template-columns: 30px 2fr 1fr 60px 25px 2fr 30px;
    }
    #intro-heading{
        grid-row: 2/-2;
        grid-column: 2/3;
    }
    #description-background{
        grid-row:-5/-1;
        grid-column: -5/-2;
    }
    #intro-description{
        grid-row:-4/-1;
        grid-column: -3/-2;
    }
    #red-block{
        grid-row: 5/6;
        grid-column: 4/5;
    }
    #yellow-block{
        grid-row: 4/5;
        grid-column: 5/6;
    } */
    
    /* Main */
    /* #projects div.grid-container{
        width:47%;
    }
    #projects div.flex-container{
        justify-content: space-between;
    }
    div.text-block, #intro-description p{
        font-size: calc(0.93vw + 0.1em);
    }
    div.icon{
        font-size: 1em;
    } */

    /* General */
    /* h1{
        font-size:5em;
    }
    h2{
        font-size:3.5em;
    }
    h3{
        font-size:2.5em;
    } */
}
