.icons {
    gap: 0.5em;
}

.is-justify-center {
    justify-self: center;
}

#intro {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    max-width: min(calc(20vw + 20em), 100%);
}

#navbar-center{
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    left:50%;
    transform: translate(-50%,-50%);
    top:50%;
    display:none;
}

#projects, #intro{
    scroll-margin-top: 4em;
}

/* Rollover Styling */
.rollover-container {
    position: relative;
    cursor: default;
    width: min-content;
}

.rollover-icon {
    text-wrap: nowrap;
}

.rollover-text {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-1em);
    text-wrap: nowrap;
}

.rollover-container>.rollover-icon:hover~.rollover-text {
    display: block;
}

/* Carousel Styling */
.carousel {
    overflow: hidden;
}

.carousel-images {
    display: flex;
    overflow: hidden;
}

.carousel-images .slide {
    transition: 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    display:flex;
    height:auto;
    max-width: 100%;
}
.carousel-images .slide *{
    /* width:100%; */
    /* width:350px; */
    height:100%;
}

.carousel-previous {
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 12px 0 0 0;
}

.carousel-next {
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0 12px 0 0;
}

.carousel-previous,
.carousel-next {
    position: absolute;
    display: none;
    opacity: 0.5;
}

.carousel:hover>.carousel-previous,
.carousel:hover>.carousel-next {
    display: block;
}

.carousel-previous:hover,
.carousel-next:hover {
    opacity: 1.0;
}

/* Projects */
.project-grid{
    width:100%;
}
.project {
    width:100%;
    height:min-content;
}

@media screen and (min-width: 600px) {
    #navbar-center{
        display: inherit;
    } 
}