.card {
    width: 300px;
}

.rollover-container {
    position: relative;
    cursor: default;
    width:min-content;
}

.rollover-icon{
    text-wrap: nowrap;
}

.rollover-text {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-1em);
    text-wrap: nowrap;
}

.rollover-container > .rollover-icon:hover ~ .rollover-text{
    display: block;
}

.icons {
    gap:0.5em;
}
.project{
    width:100%
}
.is-justify-center{
    justify-self: center;
}
.carousel{
    
}