/* DOCUMENT SPACING */
html{
    background-color: grey;
}
body{
    background-color: white;
    font-family: 'folio-light', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    color:#272727;
}
#pdf{
    padding:3rem;
    width:50em;
    margin: 3rem auto;
}
#site{
    margin: 0 auto;
    padding:3rem;
}


/* FONTS */
@font-face {
    font-family: 'folio';
    src: url(../media/folio-std/Folio-Std-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'folio-bold';
    src: url(../media/folio-std/Folio-Std-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'folio-light';
    src: url(../media/folio-std/Folio-Std-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

/* DIV STYLES */
div.white{
    background-color: #fafcfb;
    z-index: 2;
}
div.yellow{
    background-color: #ffce26;
    z-index: 3;
}
div.red{
    background-color: #D20537;
    z-index: 3;
    opacity: 0.8;
}
div.blue{
    background-color: #26b5ef;
    z-index: 3;
}
div.dark-blue{
    background-color: #0090d0;
    z-index: 3;
}
div.dark-blue, div.red{
    color: white;
}

/* GENERIC STYLES */
#intel-logo{
    width: 100px;
    height: 100px;
    background-image: url(../media/intel-logo.png);
    background-size: cover;
    text-indent: -9999px;
    position: relative;
    bottom:-10px;

}
.content{
    z-index:2;
}
h1{
    font-weight: bold;
    font-size:3em;
    padding:1rem;
}
em{
    font-family: 'folio', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.grid-container p{
    padding:0 0.3em 0 1em;
}
.grid-container{
    display:grid;
    /* border:3px solid black; */
    width:100%;
}
.grid-container div{
    /* border:1px dashed red; */
}
/* NAVIGATION */
#nav{
    display:flex;
    justify-content: left;
    position:fixed;
    z-index: 10;
    width:100%;
}
#nav a{
    font-size: 1.5rem;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    flex: 0 1 4em;
}

#nav a:link{
    color:#ffffff;
}
#nav a:visited{
    color:#ffffff
}
#nav a:focus{
    color:#ffce26;
}
#nav a:hover{
    color:#d1d1d1;
    background-color: #09709c;
}
#nav a:active{
    color:#D20537;
}

/* INTRO SECTION */
div#intro{
    grid-template-rows: 100px 1fr 25px 25px 60px min-content;
    grid-template-columns: 30px 2fr 1fr 60px 25px 2fr;
}
#intro-banner{
    grid-row: 1/-3;
    grid-column: 1/-1;
}
#intro-banner img{
    width:100%;
    height:100%;
}
#intro-heading{
    grid-row: 2/-2;
    grid-column: 2/3;
}
#intro-heading h2{
    color: white;
    font-family: 'folio-light';
    font-size: 2.5em;
    line-height: 1;
    padding:1.5em 0.5em 0.5em 0.5em;
}
#description-background{
    grid-row:-5/-1;
    grid-column: -4/-1;
}
#intro-description{
    grid-row:-4/-1;
    grid-column: -2/-1;
}
#red-block{
    grid-row: 5/6;
    grid-column: 4/5;
}
#yellow-block{
    grid-row: 4/5;
    grid-column: 5/6;
}

/* MAIN SECTION */
#details img{
    width:50%;
    height:50%;
}
div#details{
    grid-template-rows: 150px 150px 60px 20px 40px 70px 70px;
    grid-template-columns: 150px 70px 80px 25px 70px 75px 130px 100px 50px;
}
div#details div{
    margin:5px;
    display:flex;
    justify-content: space-between;
}
div#details p{
    margin:auto;
}
#detail-one{
    grid-row: 1/2;
    grid-column: 1/4;
}
#detail-one img{
    margin:auto;
    width:40%;
    height:auto;
}
#detail-two{
    grid-row: 1/2;
    grid-column: 4/7;
}
#detail-three{
    grid-row: 1/2;
    grid-column: 7/9;
    flex-direction: column;
}
#detail-three img{
    margin: auto 0 auto auto;
    width:50%;
    height:auto;
}
#detail-four{
    grid-row: 2/5;
    grid-column: 1/3;
    flex-direction: column;
}
#detail-four img{
    width:100%;
    height:auto;
    order:2;
}
#detail-five{
    grid-row: 2/6;
    grid-column: 3/6;
    justify-content: start;
}
div#details #detail-five p{
    margin: 1em auto auto auto;
}
#detail-six{
    grid-row: 2/3;
    grid-column: 6/8;
}
div#details div#detail-seven{
    display: grid;
    grid-row: 2/3;
    grid-column: 8/9;
    grid-template-rows: 1fr 35px 25px 1fr;
    grid-template-columns: 35px 25px 1fr;
}
#detail-seven div.yellow{
    grid-row: 3/4;
    grid-column: 2/3;
    margin:0;
}
#detail-seven div.dark-blue{
    grid-row: 2/3;
    grid-column: 1/2;
    margin:0;
}
#detail-eight{
    grid-row: 3/6;
    grid-column: 6/9;
}
#detail-eight img{
    margin:auto;
    width:25%;
    height:auto;
}
#detail-eight p{
    width:60%;

}
#detail-nine{
    grid-row: 5/8;
    grid-column: 1/2;
    flex-wrap: wrap;
    flex-direction: column;
}
#detail-nine img{
    margin:auto auto;
    width:60%;
    height:auto;
}
#detail-ten{
    grid-row: 4/7;
    grid-column: 2/5;
    outline:10px solid white
}
#detail-eleven{
    grid-row: 7/8;
    grid-column: 2/5;
}
#detail-twelve{
    grid-row: 6/8;
    grid-column: 5/9;
}
#detail-twelve p{
    width:25%;
}
#detail-twelve img{
    width:auto;
    height:100%
}

/* FOOTER */
#search-qr{
    display:flex;
    font-family: 'folio',Arial, Helvetica, sans-serif;
    justify-content: right;
    font-weight: bold;
}
#search-qr img{
    width:60px;
    height:auto;
    filter: invert(35%) sepia(100%) saturate(737%) hue-rotate(163deg) brightness(104%) contrast(106%);
}
#search-qr p{
    margin:auto 0;
}
a:link{
    color:#26b5ef;
}
a:visited{
    color:#0090d0
}
a:focus{
    color:#D20537;
}
a:hover{
    color:#D20537;
}
a:active{
    color:#ffce26;
}
div.copyright{
    color:#d6d6d6;
    font-size: 0.5em;
    justify-self: left;
    width: 66%;
}